################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/backend/.vs/
/backend//obj
/backend/OHD_API/obj
/frontend/node_modules