################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/backend/FileContentIndex
/backend/OnlineHelpDesk/obj
/backend/.vs/backend/v17
/backend/OHD_API/obj
